<main>
    <header>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <h6>{{title1}}</h6>
                    <h1>{{title2}}</h1>
                    <p>{{desription1}}</p>
                    <a href="/signup"><button class="btn btn-light px-5 py-2 primary-btn">Get Started</button></a>
                </div>
                <div class="col-md-5 col-sm-12">
                    <img src="/rest.png" alt="Restaurant">
                </div>
            </div>
        </div>
    </header>
    <!-- Section 1 -->
    <section class="section-1">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="city">
                        <img src="/city.jpg" alt="city at night" class="" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="panel text-left">
                        <h1>{{city}}</h1>
                        <p class="pt-4">{{description2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 1 -->

    <!-- Section 3 -->
    <section class="section-3 container-fluid p-0 text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Download Our App</h1>
                <p>
                    Our app is free to use on both iOS and Android devices.
                </p>
            </div>
        </div>
        <div class="platform row">
            <div class="col-md-6 col-sm-12 text-right">
                <div class="desktop shadow-lg">
                    <div class="d-flex flex-row justify-content-center">
                        <i class="fas fa-desktop fa-3x py-2 pr-3"></i>
                        <div class="text text-left">
                            <h3 class="pt-1 m-0">Desktop</h3>
                            <p class="p-0 m-0">On Website</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-left">
                <div class="desktop shadow-lg">
                    <div class="d-flex flex-row justify-content-center">
                        <i class="fas fa-mobile-alt fa-3x py-2 pr-3"></i>
                        <div class="text text-left">
                            <h3 class="pt-1 m-0">On Mobile</h3>
                            <p class="p-0 m-0">On Play Store</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 3 -->
</main>